%h1 carport
%h2 park without worry
=render 'form'
%ul.features
  %li
    %h3 Beat the tow truck
    %p Carport may alert you of tickets before tow truck dispatch. Avoid headaches and save hundreds.
  %li
    %h3 Avoid late fees
    %p Out of town or away from your car? Pay tickets before you're smacked with additional fines.
  %li
    %h3 Recover from theft
    %p Stolen cars are often abandoned and ticketed. Get alerts before you even know your car is missing.

%h4 carport.io needs your support!
%p 
  To operate continuously, we need your support for supporting server costs and hosting. Please visit 
  %a{"href" => "https://www.gittip.com/tastyc0de/"} https://www.gittip.com/tastyc0de/
  to learn more.
