<div class="container">
  <div class="row">
    <div class="span8">
      <h3>
        Stop Getting Towed
      </h3>

      <p class="lead">Live in San Francisco, CA? Park your car for long periods of time? Signup to get text messages when you get a ticket. If you get to a towable ticket quick enough, you can prevent your car from getting towed!</p>

      <h3>Signup</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>

